{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Main/css/main.css' %}">
    <title>Головна сторiнка</title>
    {% endblock %}
</head>
<body>
    <header>
        <a href="{% url 'main' %}">Главная страница</a>
        <a href="{% url 'books' %}">Книги</a>
        <a href="{% url 'authors' %}">Авторы</a>
    </header>
    {% block content %}
    <h1>Это главная страница с информацией о книгах</h1>
    
    <img src="https://i.work.ua/article/1161b.jpg" alt="Книга1">

    <h5>
        Кни́га — один из видов печатной продукции: непериодическое издание,
        состоящее из сброшюрованных или отдельных бумажных листов или тетрадей,
        на которых нанесена типографским или рукописным способом текстовая и графическая информация,
        имеющее, как правило, твёрдый переплёт. 
    <h5>

    <img src="https://i.work.ua/article/1532b.jpg" alt="Книга2">

    <h5>
        Книги дарят возможность прожить сотни жизней и побывать в самых невероятных мирах. Они учат, вдохновляют и расширяют наши границы мышления.
        Цитаты о книгах и чтении — это настоящая сокровищница мудрости и энергии,
        которые могут помочь нам лучше понять и оценить свою жизнь.
    </h5>

    <img src="https://ienglish.ru/assets/uploads/images/blog/interesno_ob_angliiskom/kak-viuchit-angliiskiy-bistro/Knigi_na_anglizkom_dlia_urovnia_intermediate_2.jpg" alt="Книга3">

    <h5>
        Ранее чтение являлось одним из самых распространенных видов досуга. Очень приятным и полезным досугом, надо сказать.
        А вот сейчас книгу все чаще заменяют электронные устройства — смартфоны, планшеты, ноутбуки, телевизоры и аудиоплееры. Или же полноценному чтению люди предпочитают лишь короткие выдержки и цитаты из книг. Но если сравнить чтение книги с другими способами получения информации, то оно значительно превосходит их в полезности,
        ведь активизирует сразу несколько важных отделов головного мозга человека,
        тем самым усиливая умственный потенциал.
    </h5>

    <img src="https://n1s1.hsmedia.ru/c0/f3/11/c0f3118d2a80f0f62409e68ccefab345/728x542_1_390d29f38af62661e1e5cd685acda5a2@1000x745_0xac120003_18591848241576673801.jpg" alt="Книга4">
{% endblock %}
</body>
</html>