{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    
    {% block links %}
        <link rel="stylesheet" href="{% static 'main/base.css' %}">
    {% endblock %}
    
</head>
<body>

    <header class="site-header">
        <img class="bobd" src="{% static 'main/images/logo.jfif' %}">
        <div class="header-container">
            <nav>
                <a href="{% url 'main' %}" class="bb">Головна сторiнка</a>
                <a href="{% url 'achievement' %}" class="bb">Досягнення</a>
                <a href="{% url 'hobbi' %}" class="bb">Хоббі</a>
                <a href="{% url 'leisure' %}" class="bb">Дозвiлля</a>
                <a href="{% url 'education' %}" class="bb">Освіта</a>
            </nav>
        </div>
    </header>  

    <main>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="footerdiv">
            <p>
                Сайт створено за підтримки: <a href="https://www.worldit.academy/" target="_blank">WorldItAcademy</a>
            </p>
        </div>
    </footer>
<script src="{% static 'main/script.js' %}"></script>
</body>
</html>