#achievement-content {
    margin-top: 150px;
    text-align: center;
}


p {
    font-size: 20px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #c5c5c5; 
    line-height: 1.5; 
    margin-bottom: 20px; 
}

.infobutton {
    display: inline-block;
    padding: 1px 1px; /* Размеры отступов кнопки */
    background-color: rgb(101, 0, 209); /* Цвет фона кнопки */
    color: #fff; /* Цвет текста на кнопке */
    text-decoration: none; /* Убрать подчеркивание текста ссылки */
    border: none; /* Убрать границу кнопки */
    border-radius: 4px; /* Скругленные углы */
    cursor: pointer; /* Смена курсора при наведении */
    margin-bottom: 20px; 
}

.infobutton:hover {
    background-color: #ff1bf7; /* Цвет фона при наведении курсора */
}

@keyframes border {
	0% {
		box-shadow: 0px 0px 15px 7px lightblue;
	}
	25% {
		box-shadow: 0px 0px 15px 19px violet;
	}
	50% {
		box-shadow: 0px 0px 15px 7px purple;
	}
	75% {
		box-shadow: 0px 0px 15px 7px violet;
	}
	100% {
		box-shadow: 0px 0px 15px 7px lightblue;
	}
}

.achievements-block {
    margin-bottom: 70px;
    border: 3px;
    border-style: solid;
    border-color: purple;
    box-shadow: 0px 0px 15px 7px blueviolet;
    animation: border 5s ease-out infinite;
}




